/***************************************/


/*						General Settings         */


/***************************************/

body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.618;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
}


/***************************************/


/*						App 			               */


/***************************************/

.App {
    text-align: left;
}

.top-bar {
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
}

.App-header {
    color: #222;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-container {
    height: 60px;
    width: 60px;
}

.logo-container p {
    display: inline-block;
}

@media (min-width: 768px) {
    .App-header {
        width: 750px
    }
}

@media (min-width: 992px) {
    .App-header {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .App-header {
        width: 1170px
    }
}

/***************************************/


/*						Search Form              */


/***************************************/
.search-real-estate-agencies{
    padding-right: 15px;
    padding-left: 15px;
    margin: 30px auto;
    position: relative;
}


.search-real-estate-agencies p {
    text-align: left;
    font-size: 2.5rem;
    margin-left: 3.4rem;
}

.search-real-estate-agencies label {
    padding: 1rem;
    margin-left: 1.4rem;
    /*font-size: 1.2rem;*/
    position: relative;
}

.search-real-estate-agencies input {
    padding: 1rem 2.5rem;
    font-size: 0.9rem;
    width: 26rem;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
    transition: all 0.2s;
}

.search-real-estate-agencies input:focus {
    border-bottom: 4px solid #67E2A8;
}

.search-real-estate-agencies input::placeholder {
    color: silver;
}

.hidden-error-msg {
    display: none;
}

.error-msg {
    position: absolute;
    left: 2rem;
    top: 4rem;
    width: 26rem;
    font-size: 0.8rem;
    line-height: 30px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.go_btn {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #67E2A8;
    transition: 0.5s all;
    cursor: pointer;
    border-radius: 2rem
}

.go_btn:hover {
    background-color: #8EFFCA;
}

.fa {
    position: absolute;
    left: 30px;
    top: 10px;
}


@media (min-width: 768px) {
    .search-real-estate-agencies {
        width: 750px
    }
}

@media (min-width: 992px) {
    .search-real-estate-agencies {
        width: 970px
    }
}
@media (min-width: 992px) {
    .search-real-estate-agencies {
        width: 1270px
    }
}

@media (max-width: 1200px) {
    .search-real-estate-agencies input {
    	width: 20rem;
		}
}
@media (max-width: 1000px) {
    .search-real-estate-agencies{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
    }
    .search-real-estate-agencies input{
			width: 30rem;
    }
    .search-real-estate-agencies p{
			font-size: 2rem;
    }
}
@media (max-width: 600px) {
  .search-real-estate-agencies p{
		font-size: 1.6rem;
		
  }
}

@media (max-width: 500px) {
	.search-real-estate-agencies input{
			width: 20rem;
    }
  .search-real-estate-agencies p{
		font-size: 1.4rem;
		
  }
}

/***************************************/


/*						Results                  */


/***************************************/

.search-results {
    display: flex;
    padding: 30px 150px;
    background-color: #eee;
    height: 700px;
}

@media (max-width: 1500px) {
	.search-results {
		padding: 30px 100px;
	}
}

@media (max-width: 1300px) {
	.search-results {
		padding: 30px 75px;
	}
}

@media (max-width: 1100px) {
	.search-results {
		padding: 30px;
	}
}

/***************************************/


/*			Results - List View            */


/***************************************/

.results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
}

.real-estate-agency {
    border-bottom: 1px solid silver;
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 20px;
}

.real-estate-agency p {
    margin: 0;
}

.real-estate-agency:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.REA-name {
    font-weight: 500;
}

.REA-address {
    font-size: 0.9rem;
    color: #525975;
}

.text-container, .distance-container {
    display: inline-block;
}

.text-container {
    width: 70%;
}

.distance-container {
    width: 30%;
    height: 100%;
    vertical-align: top;
    text-align: right;
}

.REA-distance {
    font-size: 45px;
    display: inline-block;
    font-weight: 100;
}

.REA-distance-label {
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 5px;
    color: #525975;
}

.map-container {
    flex: 3;
    height: 100%;
    position: relative;
}

@media (max-width: 1500px) {
	.real-estate-agency {
		    width: 400px;
	}
}

@media (max-width: 800px) {
	.real-estate-agency {
		width: 300px;
	}
}
@media (max-width: 600px) {
	.search-results {
    flex-direction: column;
    height: 100%;
  }
	.real-estate-agency {
		width: 500px;
	}
	
	.map-container {
		height: 500px;
		flex:1;
	}
	.REA-distance {
    font-size: 30px;
  }
  .REA-distance-label {
    font-size: 0.6rem;
   }
}

@media (max-width: 500px) {
	.real-estate-agency {
		width: 400px;
	}
	}

@media (max-width: 400px) {
	.real-estate-agency {
		width: 330px;
	}

	.REA-distance {
    font-size: 20px;
  }

  .REA-distance-label {
    font-size: 0.6rem;
   }
  .map-container {
		height: 300px;
	}

}
/***************************************/


/*			 List View - Ratings           */


/***************************************/

.ratings {
  width: 85px;
  height: 17px;
  display: inline-block;
  position: relative;
}
.ratings:before, .ratings:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
.ratings:before {
  color: rgb(51,116,117);
  content: "\f006\f006\f006\f006\f006";
}
.ratings:after {
  color: #43989A;
  content: "\f005\f005\f005\f005\f005";
  overflow: hidden;
}

.ratings.one:after {
  content: "\f005";
}

.ratings.onehalf:after {
  content: "\f005\f089";
}

.ratings.two:after {
  content: "\f005\f005";
}

.ratings.twohalf:after {
  content: "\f005\f005\f089";
}

.ratings.three:after {
  content: "\f005\f005\f005";
}

.ratings.threehalf:after {
  content: "\f005\f005\f005\f089";
}

.ratings.four:after {
  content: "\f005\f005\f005\f005";
}

.ratings.fourhalf:after {
  content: "\f005\f005\f005\f005\f089";
}


/***************************************/


/*			 Results - Map View           */


/***************************************/

.real-estate-agency-map {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
}

#map {
    height: 100%;
    /*overflow: hidden;*/
    /*height: 0;*/
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
